<div class="container">
    <form action=""
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="label label-danger hide-label">Not Found</span>
                        <span class="label label-success">Found</span>
                        <span class="label label-danger hide-label">Checked-Out</span>
                        <input type="text" class="form-control status-padding" placeholder="Employee">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="label label-danger">Not Found</span>
                        <input type="text" class="form-control status-padding" placeholder="Equipment">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="label label-danger">Not Found</span>
                        <input type="text" class="form-control status-padding" placeholder="Equipment">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <p class="form-control-static"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <p class="form-control-static"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <p class="form-control-static"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                        <button type="button" class="btn btn-primary btn-block btn-lg">Submit</button>
            </div>
        </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Checked Out Equipment</h3>
            <table class="table table-striped sortable">
                <thead>
                <tr>
                    <th>Employee</th>
                    <th>Equipment</th>
                    <th>Checkout Time</th>
                    <th>Checkin Time</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Jeff</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Sims</td>
                        <td>2</td>
                        <td>4</td>
                        <td>9</td>
                    </tr>
                    <tr>
                        <td>Jen</td>
                        <td>7</td>
                        <td>9</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>